@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin button-reset {
    border: 0;
    outline: 0;
    background: none;
    font: inherit;
    cursor: pointer;
}

@mixin input-reset {
    border: 0;
    outline: 0;
    background: transparent;
    font: inherit;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
        @media (min-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $breakpoint == md {
        @media (min-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $breakpoint == lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $breakpoint == xl {
        @media (min-width: $breakpoint-xl) {
            @content;
        }
    }
}